body{
    background-color: rgb(235, 199, 156);

}

button{
    background-color: rgb(235, 199, 156);
    margin-top:20px;
    border-radius: 4px;
    height: 45px;
    font-weight: 600;
    padding: 0 30px;
    letter-spacing: 1px;
    border:none;
    color: rgb(21, 21, 129);
    }

button:hover{
    cursor: pointer;
}

input{
    margin-top: 20px;
    height: 35px;
    font-weight: bold;
    padding: 0 20px ;
    letter-spacing: 1px;
}

#wrapper{
    height: 500px;
    width: 600px;
    background-color: black;
}

h1{
    background-color: black;
    color:rgb(235, 199, 156);
}

#result{
    color: white;
    margin-top: 20px;
    font-size: 32px;
}
